<div class="container">
  <div class="show_title">
    <p><%= @note.title %></p>
    <div class="show_image">
      <%= image_tag(@note.image_url.url, size: "300") %>
    </div>
  </div>
</div>

<div class="note_back">
  <div class="container">
    <div class="show_content">
      <p><%= markdown(@note.content).html_safe %></p>
      

      <div class="delete_fav">
        <div class="note_fav">
          <i class="material-icons">thumb_up</i>
        </div>
        <div class="note_delete" style="display: flex">
        <% if current_user.id == @note.user_id %>
          <%= link_to "/notes/#{@note.id}/edit" do %>
            <p class="waves-effect waves-light btn-small"><i class="material-icons left">brush</i>編集する</p>
          <% end %>
        <% end %>
        <% if current_user.id == @note.user_id %>
          <%= link_to "/notes/#{@note.id}", method: :delete, data: {confirm: '削除しますか？'} do %>
            <p class="waves-effect waves-light btn-small"><i class="material-icons left">delete</i>削除する</p>
          <% end %>
        <% end %>
        </div>
      </div>

      <div class="show_user" style="display: flex">
        <a href="/users/<%= @note.user.id %>"><li class="show_user_image"><%= image_tag(@note.user.image.url, size: "60") %></li></a>
        <div class="show_user_name">
          <a href="/users/<%= @note.user.id %>"><p class="user_namename"><%= @note.user.nickname %></p></a>
          <p><%= markdown(@note.user.description).html_safe %></p>
        </div>
      </div>

    </div>
  </div>
</div>