<div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>  
  
  <div class="sign_name">
    <p>新規登録</p>
    <%= f.text_field :nickname, maxlength: "8", placeholder: "ニックネーム" %>
  </div>
  <div class="user_samune">
      <%= f.label :image, "サムネイル"%><br/>
      <%= f.file_field :image %>
  </div>
  <div class="user_email">
    <%= f.email_field :email, placeholder: "メールアドレス" %>
    <%= f.password_field :password, placeholder: "パスワード(６文字以上)" %>
    <%= f.password_field :password_confirmation, placeholder: "もう一度パスワード(６文字以上)" %>
  </div>
  <div class="user_descirption">
    <%= f.text_area :description, placeholder: "自己紹介" %>
  </div>
  <div class="submit-btn">
    <a class="waves-effect waves-light btn-large btn-flat" style="margin-top: 30px"><%= f.submit "Sign up" %></a>
  </div>

  <% end %>
</div>

