<div class="container">

  <div style="display: flex" class="name_img">
    <div class="user_edit">
      <li class="user_image"><%= image_tag(@user.image.url, size: "80") %></li>
      <% if current_user.id == @user.id %>
        <%= link_to "/users/#{current_user.id}/edit" do %>
          <p class="waves-light btn-small flat">変更</p>
        <% end %>
      <% end %>
    </div>
    <div class="name_btn">
      <p><%= @nickname %></p>
      <div class="folow_follower">
        <a href="#">フォロー</a>
        <a href="#">フォロワー</a>
      </div>
    </div>
  </div>
  <div class="user_desc">
    <% if @user.description? %>
      <p><%= markdown(@user.description).html_safe %></p>
    <% end %>
  </div>

</div>

<div class="user-back">
  <div class="container">
    <div class="user-notes">
    <p>作成したレコメン</p>
    <% if @notes %>
      <% @notes.each do |note| %>
        <div class="user-card">
          <a href="/notes/<%= note.id %>"><p class="tit"><%= note.title %></p></a>
          <a href="/notes/<%= note.id %>"><p class="disc"><%= note.content.truncate(40)  %></p></a>
        </div><br>
      <% end %>
    <% else %>
      <div class="user-card">
        <p class="tit">まだ投稿されていません。</p>
        <p class="disc"></p>
      </div>
    <% end %>

    <p>いいねしたレコメン</p>

      <% if @favorite_notes %>
        <% @favorite_notes.each do |fav_note| %>
        <div class="user-card">
          <a href="/notes/<%= fav_note.id %>"><p class="tit"><%= fav_note.title %></p></a>
          <a href="/notes/<%= fav_note.id %>"><p class="disc"><%= fav_note.content.truncate(40)  %></p></a>
        </div><br>
        <% end %>
      <% else %>
      <div class="user-card">
        <p class="tit">まだ投稿されていません。</p>
        <p class="disc"></p>
      </div>
    <% end %>
  </div>
  </div>
</div>