<div class="container top-image">
  <div class="row">
    <h4>とっておきをシェアしよう</h4>
    <div class="main-image">
      <img src="https://image.freepik.com/free-vector/characters-people-their-social-network-illustration_53876-58967.jpg"
        width="400" height="300">
    </div>
    <p>Recommenはあなたのとっておきをシェアするサイトです。</p>
    <p>ジャンルは問いません、自分の好きな物をオススメしましょう。</p>

    <% if user_signed_in? %>
      <a href="/notes/new" 
        class="waves-effect waves-light btn-large btn">投稿する</a>
    <% else %>
      <a class="waves-effect waves-light btn-large btn">はじめる</a>
    <% end %>
  </div>
</div>

<%# 人気のレコメン %>
<div class="homepage">
  <div class="container">
    <p class="ninki_recommen">人気のレコメン</p>
    <% @all_ranks.first(4).each do |note| %>
    <a href="/notes/<%= note.id %>">
      <div class="index_card" style="display: flex">
        <div class="index_card_content" style="max-width: 530px;">
          <p class="card_title"><%= note.title %></p>
          <p><%= note.content.truncate(80) %></p>

          <div class="favs_category" style="display: flex;">
            <div class="card_favs" style="display: flex;">
              <i class="samll material-icons">thumb_up</i>
              <p><%= note.favorites.count %></p>
            </div>
            <div class="catego">
              <% note.tag_list.each do |tag| %>
              <div class="category_btn">
                <%= link_to tag, notes_path(tag_name: tag) %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div>
          <%= image_tag(note.image_url.url) %>
        </div>
      </div>
    </a>
    <% end %>
  </div>
</div>





<%# 人気のレコメン %>
<div class="homepage2">
  <div class="container">
    <p class="ninki_recommen">新着投稿</p></p>
    <% @notes.first(4).each do |note| %>
    <a href="/notes/<%= note.id %>">
      <div class="index_card" style="display: flex">
        <div class="index_card_content" style="max-width: 530px;">
          <p class="card_title"><%= note.title %></p>
          <p><%= note.content.truncate(80) %></p>

          <div class="favs_category" style="display: flex;">
            <div class="card_favs" style="display: flex;">
              <i class="samll material-icons">thumb_up</i>
              <p><%= note.favorites.count %></p>
            </div>
            <div class="catego">
              <% note.tag_list.each do |tag| %>
              <div class="category_btn">
                <%= link_to tag, notes_path(tag_name: tag) %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div>
          <%= image_tag(note.image_url.url) %>
        </div>
      </div>
    </a>
    <% end %>
  </div>
</div>