<!DOCTYPE html>
<html>
  <head>
    <title>Recommen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Recommen</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li class="head_user_image"><%= image_tag(current_user.image.url, size: "40") %></li>
            <li>Name: <%= current_user.nickname %></li>
            <li><a href="#"><%= link_to "HOME", root_path %></a></li>
            <li><a href="#"><%= link_to "Mypage", "/users/#{current_user.id}" %></a></li>
            <li><a href="#"><%= link_to  "NEW", "/notes/new", class: "post" %></a></li>
            <li class="right-logo"><a href="#"><%= link_to "LOGOUT", destroy_user_session_path, method: :delete %></a></li>
          <% else %>
            <li><a href="#"><%= link_to "HOME", root_path %></a></li>
            <li><a href="#"><%= link_to "Login", new_user_session_path, class: 'post' %></a></li>
            <li class="right-logo"><a href="#"><%= link_to "SignUp", new_user_registration_path, class: 'post' %></a></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
